dev-kits-st-nucleo-dashboard-0.2.json
[{"id":"e4afde7.9b9452","type":"http response","z":"745a997d.260cb8","name":"","x":900.9995422363281,"y":80,"wires":[]},{"id":"40fb44b.e2e43bc","type":"http in","z":"745a997d.260cb8","name":"","url":"/sensors","method":"get","swaggerDoc":"","x":117.99931335449219,"y":80,"wires":[["24013d9e.d644f2"]]},{"id":"24013d9e.d644f2","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"   <script type=\"text/javascript\">\n        var srcMap = \"https://maps.googleapis.com/maps/api/js?key=\" + process.env.GOOGLE_API_KEY + \"&callback=initMap\"\n   </script>\n   \n   <script async defer src=srcMap type=\"text/javascript\"></script>\n\n   <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n   \n   <script type=\"text/javascript\">\n   \n        // gauge\n   \n        var data1 = null;\n        var data2 = null;\n        var data3 = null;\n        \n        var option1 = null;\n        var option2 = null;\n        var option3 = null;\n        \n        var chart1 = null; \n        var chart2 = null; \n        var chart3 = null; \n        \n        google.charts.load('current', {'packages':['gauge', 'map', 'bar', 'corechart', 'line']});\n        google.charts.setOnLoadCallback(drawChart);\n        \n        function drawChart() {\n            \n            data1 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Temperature', 0]\n            ]);\n            \n            data2 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Humidity', 0]\n            ]);\n            \n            data3 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Pressure', 0]\n            ]);\n            \n            option1 = {\n              width: 600, height: 220,\n              redFrom: 70, redTo: 100,\n              yellowFrom:26, yellowTo: 70,\n              minorTicks: 5,\n              min: 0, max: 100\n            };\n            \n            option2 = {\n              width: 600, height: 220,\n              redFrom: 90, redTo: 100,\n              yellowFrom:70, yellowTo: 90,\n              minorTicks: 5,\n              min: 0, max: 100\n            };\n            \n            option3 = {\n              width: 600, height: 220,\n              redFrom: 900, redTo: 1200,\n              yellowFrom:750, yellowTo: 900,\n              minorTicks: 5,\n              min: 0, max: 1200\n            };\n            \n            chart1 = new google.visualization.Gauge(document.getElementById('chart1_div'));\n            chart2 = new google.visualization.Gauge(document.getElementById('chart2_div'));\n            chart3 = new google.visualization.Gauge(document.getElementById('chart3_div'));\n            \n            chart1.draw(data1, option1);\n            chart2.draw(data2, option2);\n            chart3.draw(data3, option3);\n      }\n      \n      function updateChart(temp, humid, pres) {\n          \n          data1.setValue(0, 1, temp);// + \"C\");\n          chart1.draw(data1, option1);\n          \n          data2.setValue(0, 1, humid);// + \"%\");\n          chart2.draw(data2, option2);\n          \n          data3.setValue(0, 1, pres);// + \"kPa\");\n          chart3.draw(data3, option3);\n      }\n    </script>\n    \n   <script type=\"text/javascript\">\n   \n        // agregate info\n      \n        function updateAgrGgChart(objSens) {\n        \n            if(objSens.min_temp !== undefined)\n                document.getElementById('mint').innerHTML = objSens.min_temp;\n            if(objSens.max_temp !== undefined)\n                document.getElementById('maxt').innerHTML = objSens.max_temp;\n            if(objSens.min_humidity !== undefined)\n                document.getElementById('minh').innerHTML = objSens.min_humidity;\n            if(objSens.max_humidity !== undefined)\n                document.getElementById('maxh').innerHTML = objSens.max_humidity;\n            if(objSens.min_pressure !== undefined)\n                document.getElementById('minp').innerHTML = objSens.min_pressure;\n            if(objSens.max_pressure !== undefined)\n                document.getElementById('maxp').innerHTML = objSens.max_pressure;\n        }\n    </script>   \n    \n    <script type=\"text/javascript\">\n    \n        var dataLnT;\n        var dataLnH;\n        var dataLnP;\n        \n        var opsLnT;\n        var opsLnH;\n        var opsLnP;\n        \n        var chartLnT;\n        var chartLnH;\n        var chartLnP;\n        \n        google.charts.setOnLoadCallback(drawBasic);\n        \n        function drawBasic() {\n            \n            dataLnT = new google.visualization.DataTable();\n            dataLnT.addColumn('datetime', 'X');\n            dataLnT.addColumn('number', 'Temperature');\n            \n            dataLnH = new google.visualization.DataTable();\n            dataLnH.addColumn('datetime', 'X');\n            dataLnH.addColumn('number', 'Humidity');\n            \n            dataLnP = new google.visualization.DataTable();\n            dataLnP.addColumn('datetime', 'X');\n            dataLnP.addColumn('number', 'Pressure');\n            \n            opsLnT = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Temperature'\n                },\n                curveType: 'function',\n                colors:['red','#004411'],\n                lineWidth : 3,\n                title: 'Temperature Time Series',\n                backgroundColor: '#f8f8f8'\n            };\n            \n            opsLnH = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Humidity'\n                },\n                curveType: 'function',\n                colors:['orange','#004411'],\n                lineWidth : 3,\n                title: 'Humidity Time Series',\n                backgroundColor: '#f8f8f8'\n            };\n            \n            opsLnP = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Pressure'\n                },\n                curveType: 'function',\n                lineWidth : 3,\n                title: 'Pressure Time Series',\n                backgroundColor: '#f8f8f8'\n            };\n            \n            chartLnT = new google.visualization.LineChart(document.getElementById('chartLnT_div'));\n            chartLnH = new google.visualization.LineChart(document.getElementById('chartLnH_div'));\n            chartLnP = new google.visualization.LineChart(document.getElementById('chartLnP_div'));\n            \n            chartLnT.draw(dataLnT, opsLnT);\n            chartLnH.draw(dataLnH, opsLnH);\n            chartLnP.draw(dataLnP, opsLnP);\n        }\n        \n        function updateLnChart(temp, humid, pres) {\n\n            dataLnT.addRow([new Date(), temp]);\n            chartLnT.draw(dataLnT, opsLnT);\n            \n            dataLnH.addRow([new Date(), humid]);\n            chartLnH.draw(dataLnH, opsLnH);\n            \n            dataLnP.addRow([new Date(), pres]);\n            chartLnP.draw(dataLnP, opsLnP);\n        }\n        \n    </script> \n    \n    <script type=\"text/javascript\">\n    \n        var wsDeviceData;\n        var wsAgrData;\n        \n        var wsDeviceDataUri = \"ws:\";\n        var wsAgrDataUri = \"ws:\";        \n        \n        var loc = window.location;\n      \n        if (loc.protocol === \"https:\") { \n        \n            wsDeviceDataUri = \"wss:\"; \n            wsAgrDataUri = \"wss:\"; \n        }\n        \n        wsDeviceDataUri += \"//\" + loc.host + loc.pathname.replace(\"sensors\",\"ws/maindata\");\n        wsAgrDataUri += \"//\" + loc.host + loc.pathname.replace(\"sensors\",\"ws/agrdata\");\n\n        function wsDisconnect() {\n        \n            wsDeviceData.close();\n            wsAgrData.close();\n        }\n\n        function wsConnect() {\n            \n            wsDeviceDataConnect();\n            wsAgrDataConnect();\n        }\n        \n        var IsModalDlgDispayed = false;\n        \n        function wsDeviceDataConnect() {\n            \n            wsDeviceData = new WebSocket(wsDeviceDataUri);\n            \n            wsDeviceData.onmessage = function(msg) {\n                \n                var json = msg.data;\n                var obj = JSON.parse(json);\n\n                // ST Nucleo\n                updateChart(obj.d.A_Temperature, obj.d.A_Humidity, obj.d.A_Pressure);\n                \n                updateLnChart(obj.d.A_Temperature, obj.d.A_Humidity, obj.d.A_Pressure);\n                \n                var threshold = 25.8;\n                if( parseFloat(obj.d.A_Temperature.toFixed(1)) >= parseFloat(threshold.toFixed(1)) && IsModalDlgDispayed === false) {\n                    $(\"#modalDlg\").modal(\"show\");\n                    IsModalDlgDispayed = true;\n                }\n\n            }\n            wsDeviceData.onopen = function() {\n            }\n            wsDeviceData.onclose = function() {\n                //wsDeviceData.close();\n                //setTimeout(function() {\n                //    wsDeviceDataConnect();\n                //}, 1000);\n            }   \n        }\n        \n        function wsAgrDataConnect() {\n            \n            wsAgrData = new WebSocket(wsAgrDataUri);\n            \n            wsAgrData.onmessage = function(msg) {\n                \n                var json = msg.data;\n                var obj = JSON.parse(json);\n                \n                updateAgrGgChart(obj);\n            }\n            wsAgrData.onopen = function() {\n            }\n            wsAgrData.onclose = function() {\n                //wsAgrData.close();\n                //setTimeout(function() {\n                //    wsAgrDataConnect();\n                //}, 1000);            \n            }   \n        }\n        \n    </script>\n    ","x":350.9994812011719,"y":80.00006771087646,"wires":[["3a22f34e.7f22ac"]]},{"id":"3a22f34e.7f22ac","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  margin:50px 0;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n\n\n","x":533.1660957336426,"y":80.8000078201294,"wires":[["ddd9f38d.9948b"]]},{"id":"ddd9f38d.9948b","type":"template","z":"745a997d.260cb8","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n    \n    <title>Sensors Live Display</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>          \n        </ul>\n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow: auto;width: 100%;>\n                \n                <CENTER>\n                <table border=1>\n                    \n                    <TR ALIGN=\"CENTER\">\n                        <TD HEIGHT=\"47\" colspan=\"2\"></TD><TD colspan=\"2\"></TD><TD colspan=\"2\"></TD>\n                    </TR>\n       \n                    <tr>\n                        <td width=\"20%\">\n                            <div id=\"chart1_div\" style=\"width: 250px; height: 250px;float:right; margin-left: 100px\"></div>\n                        </td> \n                        <td>\n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"mint\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxt\">0</label><br>\n                            </div>\n                        </td>\n                       \n                        <td width=\"20%\">\n                                <div id=\"chart2_div\" style=\"width: 250px; height: 250px;float:right;\"></div>\n                            </td>\n                        <td>\n                            \n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"minh\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxh\">0</label><br>\n                            </div>                          \n                                                 \n                        </td>                        \n                        <td width=\"20%\">\n                            <div id=\"chart3_div\" style=\"width: 250px; height: 250px;float:right;\"></div>\n                        </td>\n                        <td>\n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"minp\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxp\">0</label><br>\n                            </div>                                   \n                               \n                        </td>    \n                        </tr> \n                        <tr> \n                            <td colspan=\"2\">\n                                <div id=\"chartLnT_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>\n                            <td colspan=\"2\">\n                                 <div id=\"chartLnH_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>\n                            <td colspan=\"2\">\n                                <div id=\"chartLnP_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>                         \n                        </tr>\n                    \n                   \n\n                </table>\n                </CENTER>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>   \n    \n    <div class=\"modal fade\" id=\"modalDlg\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n        <div class=\"modal-dialog\">\n            <div class=\"modal-content\">\n                <div class=\"modal-header\" style=\"width:100%;height:15%;background:red;color:white;border-top-left-radius: 5px;border-top-right-radius: 5px;\">\n                    <h3 style=\"color:white;font-family: serif;\">The temperature is above the set threshold</h3>\n                </div>\n    \n                <div class=\"modal-body\">\n                    <form method=\"post\" action=\"#\">\n                    </form>\n                </div>\n    \n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-success success\" data-dismiss=\"modal\" style=\"width: 30%;\" width='200px'>Close</button>\n                    <!--<input type='submit'  class=\"btn btn-success success\" style=\"width: 30%;\" id='btnValidate' width='200px' name=\"submit\" Value='Send' /> -->\n                </div>\n            </div>    \n        </div>\n    </div>        \n        \n    </body>\n    \n</html>\n","x":710.1660461425781,"y":80.7999677658081,"wires":[["e4afde7.9b9452"]]},{"id":"ba71144f.307178","type":"http response","z":"745a997d.260cb8","name":"","x":900.9995422363281,"y":160,"wires":[]},{"id":"1ac7eab.f1e2715","type":"http in","z":"745a997d.260cb8","name":"","url":"/mhwdata","method":"get","upload":false,"swaggerDoc":"","x":127.99931335449219,"y":160,"wires":[["5e36d43d.f6950c"]]},{"id":"99d95934.95c088","type":"mysql","z":"745a997d.260cb8","mydb":"71811e6f.81321","name":"","x":496.9995422363281,"y":340,"wires":[["9b41f6d6.ce0908"]]},{"id":"67c509eb.046b08","type":"function","z":"745a997d.260cb8","name":"SELECT SQL","func":"msg.topic = \"select wday, mean_temp from wdata where wyear = 2013 and wmonth = \"+msg.payload+\";select wday, mean_temp from wdata where wyear = 2014 and wmonth = \"+msg.payload+\";select wday, mean_temp from wdata where wyear = 2015 and wmonth = \"+msg.payload+\";select wday, mean_temp from wdata where wyear = 2016 and wmonth = \"+msg.payload+\";select wday, mean_temp from wdata where wyear = 2017 and wmonth = \"+msg.payload+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":323.9995422363281,"y":340,"wires":[["99d95934.95c088"]]},{"id":"e311f838.61c808","type":"comment","z":"745a997d.260cb8","name":"loading data from the DB","info":"","x":537.9995422363281,"y":304,"wires":[]},{"id":"6e93080b.1fc998","type":"template","z":"745a997d.260cb8","name":"HTML DATA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css\">\n\n    <style>{{{payload.style}}}</style>\n    \n    <title>Data analysis for Montreal area</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul class=\"my-style\">\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>\n        </ul>\n        \n        <table>\n            <tr>\n               <td>\n                <div id=\"div_sel_month\" style=\"width:15%;margin-top:12px;margin-left: 30px\"> <!--float:left;margin-left:150px;-->\n                    <select id=\"gMonth\" class=\"selectpicker\"> \n                        <!--<option selected value='1'>Select Month</option>-->\n                        <option selected value='1'>Janaury</option>\n                        <option value='2'>February</option>\n                        <option value='3'>March</option>\n                        <option value='4'>April</option>\n                        <option value='5'>May</option>\n                        <option value='6'>June</option>\n                        <option value='7'>July</option>\n                        <option value='8'>August</option>\n                        <option value='9'>September</option>\n                        <option value='10'>October</option>\n                        <option value='11'>November</option>\n                        <option value='12'>December</option>\n                    </select> \n                </div>\n            </td>\n            <td>\n                <div id=\"div_lb1\" style=\"float:right;margin-left:150px\"><h2><b>5-Year Historical Temperature Data </b></h2></div>\n            </td>\n            <td>\n                <div id=\"div_lb2\" style=\"float:left;margin-left:5px;margin-top:10px;font-size: 2em;font-weight:bold; \"></div>\n            </td>            \n        </tr>            \n        </table>\n        \n\n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow:auto; width:100%;height=100%;>\n                \n                <center>\n\n                    <table border=0 id=\"example\" class=\"display\" width=\"100%\" height=\"100%\"></table>\n    \n                </center>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n    \n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n        {{{payload.script}}}    \n        \n    </body>\n    \n</html>\n","x":700.9995422363281,"y":160,"wires":[["ba71144f.307178"]]},{"id":"af0b0e34.3b3c5","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.hero .get-it .btn {\n  margin-left:10px;\n  margin-bottom:10px;\n  text-shadow:none;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  height:580px;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul.my-style {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n\n","x":523.9995918273926,"y":160.0000400543213,"wires":[["6e93080b.1fc998"]]},{"id":"5e36d43d.f6950c","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"<script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js\"></script> \n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\">\n\n    var wsDBData;\n    \n    var wsDBDataUri = \"ws:\";  \n    \n    var loc = window.location;\n    \n    if (loc.protocol === \"https:\") { \n        wsDBDataUri = \"wss:\";\n    }\n    \n    wsDBDataUri += \"//\" + loc.host + loc.pathname.replace(\"mhwdata\",\"ws/dbdata\");\n    \n    function wsDisconnect() {\n        wsDBData.close();\n    }\n    \n    function wsConnect() {\n        \n        wsDBDataConnect();\n    }\n\n    function wsDBDataConnect() {\n        \n        wsDBData = new WebSocket(wsDBDataUri);\n        \n        wsDBData.onmessage = function(msg) {\n            \n            var json = msg.data;\n    \n            var array = JSON.parse(json);\n            \n            var arr2 = [];\n            \n            if(array.length != 5) {\n                alert(\"Wrong arrays size, check sql query!\");\n                return;\n            }\n\n            var innArr2013 = array[0];\n            var innArr2014 = array[1];\n            var innArr2015 = array[2];\n            var innArr2016 = array[3];\n            var innArr2017 = array[4];\n            \n            var sel_month_size = Math.max(innArr2013.length, innArr2014.length,innArr2015.length,innArr2016.length,innArr2017.length);\n            \n            if(sel_month_size > 31) {\n                alert(\"Wrong array size (month), check sql query!\");\n                return;\n            }\n\n            for (i = 0; i < sel_month_size; i++) {\n            \n                var arrLoc =  new Array();\n            \n                arrLoc.push(i+1); \n                \n                if(innArr2013.length-1 >= i)\n                    arrLoc.push(innArr2013[i].mean_temp); \n                else\n                    arrLoc.push('n/a');\n                    \n                if(innArr2014.length-1 >= i)    \n                    arrLoc.push(innArr2014[i].mean_temp); \n                else\n                    arrLoc.push('n/a');  \n                    \n                if(innArr2015.length-1 >= i)\n                    arrLoc.push(innArr2015[i].mean_temp); \n                else\n                    arrLoc.push('n/a');  \n                    \n                if(innArr2016.length-1 >= i)\n                    arrLoc.push(innArr2016[i].mean_temp); \n                else\n                    arrLoc.push('n/a');   \n                    \n                if(innArr2017.length-1 >= i)\n                    arrLoc.push(innArr2017[i].mean_temp); \n                else\n                    arrLoc.push('n/a');                    \n                \n                arr2.push(arrLoc)\n            }\n            \n            //$(\"#example\").DataTable().fnDestroy();\n            \n            $(document).ready(function() {\n                $('#example').DataTable( {\n                    \"bDestroy\": true,\n                    data: arr2,\n                    columns: [\n                        { title: \"Day\" },\n                        { title: \"2013\" },\n                        { title: \"2014\" },\n                        { title: \"2015\" },\n                        { title: \"2016\" },\n                        { title: \"2017\" } \n                    ]\n                } );\n            } );           \n                \n        }\n        wsDBData.onopen = function() {\n            getData(1);\n        }\n        wsDBData.onclose = function() {\n               \n        }   \n    }\n    \n    function getData(param) {\n    \n        if (wsDBData) {\n            wsDBData.send(param); \n        }\n    }    \n    \n    $(function(){\n        $('#gMonth').change(function(){\n            selMonth = $(this).val();\n            //$('#div_lb2').html( $(this).find(':selected').html() );\n            getData(selMonth);\n        });\n     });     \n\n</script>","x":341.8329772949219,"y":159.20009994506836,"wires":[["af0b0e34.3b3c5"]]},{"id":"6655f98b.e4f138","type":"websocket in","z":"745a997d.260cb8","name":"","server":"7139902.6d95e7","client":"","x":127.99954223632812,"y":340,"wires":[["67c509eb.046b08"]]},{"id":"9b41f6d6.ce0908","type":"websocket out","z":"745a997d.260cb8","name":"","server":"7139902.6d95e7","client":"","x":667.9995422363281,"y":340,"wires":[]},{"id":"77634924.1ee5a8","type":"http in","z":"745a997d.260cb8","name":"","url":"/mhwgrdata","method":"get","upload":false,"swaggerDoc":"","x":128.99954223632812,"y":253,"wires":[["95b8706f.5b74a"]]},{"id":"95b8706f.5b74a","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"<script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js\"></script> \n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n<script type=\"text/javascript\">\n\n    google.charts.load('current', {'packages':['corechart']});\n    google.charts.setOnLoadCallback(drawChart);\n    \n    var dataAr;\n    var arOptions;\n    var areaChart;\n    \n    function drawChart() {\n    \n        dataAr = google.visualization.arrayToDataTable([\n          ['Days', '2013', '2014', '2015', '2016','2017'],\n          ['0', 0, 0, 0, 0, 0]\n        ]);\n  \n        arOptions = {\n            title: 'Montreal, QC: Weather Performance',\n            hAxis: {title: 'Days',  titleTextStyle: {color: '#333'}},\n            vAxis: {title: 'Temperature',  titleTextStyle: {color: '#777'}},\n            backgroundColor: '#f8f8f8'\n        };\n        \n        areaChart = new google.visualization.AreaChart(document.getElementById('chart_div'));\n        \n        areaChart.draw(dataAr, arOptions);\n    }\n      \n    function updateAreaChart(d, t1, t2, t3, t4, t5) {\n\n        dataAr.addRow([d, t1, t2, t3, t4, t5]);\n        areaChart.draw(dataAr, arOptions);\n    } \n    \n    function clearChart() {\n    \n        \n        dataAr.removeRows(0, dataAr.getNumberOfRows());\n        areaChart.draw(dataAr, arOptions);\n        \n        areaChart.clearChart();\n    }\n</script>\n \n<script type=\"text/javascript\">\n\n    var wsDBData;\n    \n    var wsDBDataUri = \"ws:\";  \n    \n    var loc = window.location;\n    \n    if (loc.protocol === \"https:\") { \n        wsDBDataUri = \"wss:\";\n    }\n\n    wsDBDataUri += \"//\" + loc.host + loc.pathname.replace(\"mhwgrdata\",\"ws/dbdata\");\n    \n    function wsDisconnect() {\n    \n        wsDBData.close();\n    }\n    \n    function wsConnect() {\n        wsDBDataConnect();\n    }\n\n    function wsDBDataConnect() {\n        \n        wsDBData = new WebSocket(wsDBDataUri);\n        \n        wsDBData.onmessage = function(msg) {\n            \n            var json = msg.data;\n    \n            var array = JSON.parse(json);\n            \n            var arr2 = [];\n            \n            if(array.length != 5) {\n                alert(\"Wrong arrays size, check sql query!\");\n                return;\n            }\n\n            var innArr2013 = array[0];\n            var innArr2014 = array[1];\n            var innArr2015 = array[2];\n            var innArr2016 = array[3];\n            var innArr2017 = array[4];\n            \n            var sel_month_size = Math.max(innArr2013.length, innArr2014.length,innArr2015.length,innArr2016.length,innArr2017.length);\n            \n            if(sel_month_size > 31) {\n                alert(\"Wrong array size (month), check sql query!\");\n                return;\n            }\n            \n            clearChart();\n\n            for (i = 0; i < sel_month_size; i++) {\n            \n                var t1,t2,t2,t4,t5;\n                \n                if(innArr2013.length-1 >= i)\n                    t1 = innArr2013[i].mean_temp; \n                else\n                    t1 = 0;\n                    \n                if(innArr2014.length-1 >= i)    \n                    t2 = innArr2014[i].mean_temp; \n                else\n                    t2 = 0;  \n                    \n                if(innArr2015.length-1 >= i)\n                    t3 = innArr2015[i].mean_temp; \n                else\n                    t3 = 0;  \n                    \n                if(innArr2016.length-1 >= i)\n                    t4 = innArr2016[i].mean_temp; \n                else\n                    t4 = 0;   \n                    \n                if(innArr2017.length-1 >= i)\n                    t5 = innArr2017[i].mean_temp; \n                else\n                    t5 = 0;                    \n                \n                updateAreaChart((i+1).toString(), t1, t2, t3, t4, t5);\n            }\n        }\n        wsDBData.onopen = function() {\n            getData(1);\n        }\n        wsDBData.onclose = function() {\n               \n        }   \n    }\n    \n    function getData(param) {\n    \n        if (wsDBData) {\n            wsDBData.send(param); \n        }\n    }\n    \n    $(function(){\n        $('#gMonth').change(function(){\n            var month = $(this).val();\n            getData(month);\n        });\n     });     \n\n</script>","x":344.8332061767578,"y":252.20009994506836,"wires":[["b8a18638.1be2e8"]]},{"id":"b8a18638.1be2e8","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  height:580px;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n","x":526.9998207092285,"y":253.0000400543213,"wires":[["d055c8d0.9744c8"]]},{"id":"d055c8d0.9744c8","type":"template","z":"745a997d.260cb8","name":"HTML CHART","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css\">\n\n    <style>{{{payload.style}}}</style>\n    \n    <title>Data analysis for Montreal area</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>\n        </ul>\n        \n        <table>\n            <tr>\n               <td>\n                <div id=\"head1\" style=\"width:15%;margin-top:12px;margin-left: 30px\"> <!--float:left;margin-left:150px;-->\n                    <select id=\"gMonth\" class=\"selectpicker\"> \n                        <!--<option selected value='1'>Select Month</option>-->\n                        <option selected value='1'>Janaury</option>\n                        <option value='2'>February</option>\n                        <option value='3'>March</option>\n                        <option value='4'>April</option>\n                        <option value='5'>May</option>\n                        <option value='6'>June</option>\n                        <option value='7'>July</option>\n                        <option value='8'>August</option>\n                        <option value='9'>September</option>\n                        <option value='10'>October</option>\n                        <option value='11'>November</option>\n                        <option value='12'>December</option>\n                    </select> \n                </div>\n            </td>\n            <td>\n                <div id=\"aaa\" style=\"float:right;margin-left:150px\"><h2><b>Data Visualization: 5-Year Historical Temperature Data</b></h2></div>\n            </td>\n        </tr>            \n        </table>\n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow:auto; width:100%;height=100%;>\n                \n                <center>\n                    <div id=\"chart_div\" style=\"width: 100%; height: 500px;\"></div>\n                </center>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n     \n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n        {{{payload.script}}}    \n        \n    </body>\n    \n</html>\n","x":733.9997711181641,"y":253,"wires":[["f22f9d58.de61a"]]},{"id":"f22f9d58.de61a","type":"http response","z":"745a997d.260cb8","name":"","x":903.9997711181641,"y":253,"wires":[]},{"id":"7258f2aa.46340c","type":"debug","z":"745a997d.260cb8","name":"","active":false,"console":"false","complete":"payload","x":340.9995422363281,"y":1340,"wires":[]},{"id":"b0cd1e5f.0f2ec","type":"websocket out","z":"745a997d.260cb8","name":"","server":"52a01a6b.b27ad4","client":"","x":356.16647720336914,"y":1274.4443287849426,"wires":[]},{"id":"5ed39636.190fd8","type":"aggregator","z":"745a997d.260cb8","name":"Min Temp","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":530.9995422363281,"y":1380,"wires":[["4d39b801.c8cc98"]]},{"id":"21416497.a5782c","type":"aggregator","z":"745a997d.260cb8","name":"Max Temp","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":537.9995422363281,"y":1431.0001974105835,"wires":[["b3908f4a.c0e4e"]]},{"id":"72fc451e.10bbdc","type":"aggregator","z":"745a997d.260cb8","name":"Min Humidity","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":534.9995155334473,"y":1474.0000820159912,"wires":[["73f4ddb4.92ba94"]]},{"id":"efd34f41.e95ea","type":"change","z":"745a997d.260cb8","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":338.9994583129883,"y":1400.1999349594116,"wires":[["5ed39636.190fd8","21416497.a5782c"]]},{"id":"7261e00c.5108e","type":"change","z":"745a997d.260cb8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":323.9994583129883,"y":1493.200008392334,"wires":[["72fc451e.10bbdc","562d510f.89fc4"]]},{"id":"41c66a83.1537f4","type":"change","z":"745a997d.260cb8","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":324.9994583129883,"y":1593.2000198364258,"wires":[["7320f6b0.cfdcd8","bf27086a.260698"]]},{"id":"562d510f.89fc4","type":"aggregator","z":"745a997d.260cb8","name":"Max Humidity","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":543.9995422363281,"y":1520.466612815857,"wires":[["e994a21a.15389"]]},{"id":"7320f6b0.cfdcd8","type":"aggregator","z":"745a997d.260cb8","name":"Min Pressure","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":533.9995040893555,"y":1567.4666185379028,"wires":[["f657af00.48b96"]]},{"id":"bf27086a.260698","type":"aggregator","z":"745a997d.260cb8","name":"Max Pressure","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":541.9994812011719,"y":1620.466703414917,"wires":[["85f7d2f6.64df9"]]},{"id":"4d39b801.c8cc98","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"min_temp\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":788.9997634887695,"y":1379.3332138061523,"wires":[["e53e78a3.22ba48"]]},{"id":"73f4ddb4.92ba94","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"min_humidity\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":792.9995727539062,"y":1475.3330755233765,"wires":[["e53e78a3.22ba48"]]},{"id":"e994a21a.15389","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"max_humidity\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":794.9995803833008,"y":1522.3330812454224,"wires":[["e53e78a3.22ba48"]]},{"id":"f657af00.48b96","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"min_pressure\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":795.9995803833008,"y":1568.3330879211426,"wires":[["e53e78a3.22ba48"]]},{"id":"85f7d2f6.64df9","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"max_pressure\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":797.9995803833008,"y":1620.3330917358398,"wires":[["e53e78a3.22ba48"]]},{"id":"b3908f4a.c0e4e","type":"function","z":"745a997d.260cb8","name":"convert to json","func":"msg.payload = {\"max_temp\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":794.9995727539062,"y":1429.3332176208496,"wires":[["e53e78a3.22ba48"]]},{"id":"c40013a7.e4cc7","type":"ibmiot in","z":"745a997d.260cb8","authentication":"apiKey","apiKey":"c4a749.2ab878b8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":58,"y":1093.8665041923523,"wires":[["7258f2aa.46340c","b0cd1e5f.0f2ec","efd34f41.e95ea","7261e00c.5108e","41c66a83.1537f4"]]},{"id":"e53e78a3.22ba48","type":"websocket out","z":"745a997d.260cb8","name":"","server":"df14d397.e4ac1","client":"","x":1094.8331031799316,"y":1494.333028793335,"wires":[]},{"id":"9eb9ccfc.48817","type":"comment","z":"745a997d.260cb8","name":"Historical mean data for 5 year period","info":"","x":196.99954223632812,"y":123,"wires":[]},{"id":"25719526.55c9ca","type":"comment","z":"745a997d.260cb8","name":"Graph for 5 year period","info":"","x":148.99954223632812,"y":216,"wires":[]},{"id":"f14a5f15.89e06","type":"comment","z":"745a997d.260cb8","name":"Getting socket notification from the web page","info":"","x":218.99954223632812,"y":303,"wires":[]},{"id":"ef1a19ad.cf0fc8","type":"http in","z":"745a997d.260cb8","name":"","url":"/mhwpdata","method":"get","upload":false,"swaggerDoc":"","x":130.99954223632812,"y":460,"wires":[["acd924fe.88c548"]]},{"id":"195901c2.ae4ade","type":"comment","z":"745a997d.260cb8","name":"Historical min, mean and max data for 5 year period","info":"","x":239.99977111816406,"y":423,"wires":[]},{"id":"acd924fe.88c548","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"<script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js\"></script> \n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\">\n\n    var wsDBData;\n    \n    var wsDBDataUri = \"ws:\";  \n    \n    var loc = window.location;\n    \n    if (loc.protocol === \"https:\") { \n        wsDBDataUri = \"wss:\";\n    }\n    \n    wsDBDataUri += \"//\" + loc.host + loc.pathname.replace(\"mhwpdata\",\"ws/dbpdata\");\n    \n    function wsDisconnect() {\n        wsDBData.close();\n    }\n    \n    function wsConnect() {\n        \n        wsDBDataConnect();\n    }\n\n    function wsDBDataConnect() {\n        \n        wsDBData = new WebSocket(wsDBDataUri);\n        \n        wsDBData.onmessage = function(msg) {\n            \n            var json = msg.data;\n    \n            var array = JSON.parse(json);\n            \n            var arr2 = [];\n            \n            if(array.length != 2) {\n                alert(\"Wrong arrays size, check sql query!\");\n                return;\n            }\n\n            var innArrAvgs = array[0];\n            var innArrCurr = array[1];\n            \n            var sel_month_size = Math.max(innArrAvgs.length, innArrCurr.length);\n            \n            if(sel_month_size > 31) {\n                alert(\"Wrong array size (month), check sql query!\");\n                return;\n            }\n\n            for (i = 0; i < sel_month_size; i++) {\n            \n                var arrLoc =  new Array();\n            \n                arrLoc.push(i+1); \n                \n                if(innArrAvgs.length-1 >= i)\n                    arrLoc.push(innArrAvgs[i].avg_min); \n                else\n                    arrLoc.push('n/a');\n                    \n                if(innArrAvgs.length-1 >= i)\n                    arrLoc.push(innArrAvgs[i].avg_max); \n                else\n                    arrLoc.push('n/a');\n                    \n                if(innArrAvgs.length-1 >= i)\n                    arrLoc.push(innArrAvgs[i].avg_mean); \n                else\n                    arrLoc.push('n/a');\n                    \n                if(innArrCurr.length-1 >= i)    \n                    arrLoc.push(innArrCurr[i].mean_temp); \n                else\n                    arrLoc.push('n/a');\n                \n                arr2.push(arrLoc)\n            }\n            \n            //$(\"#example\").DataTable().fnDestroy();\n            \n            $(document).ready(function() {\n                $('#example').DataTable( {\n                    \"bDestroy\": true,\n                    data: arr2,\n                    columns: [\n                        { title: \"Day\" },\n                        { title: \"Historical Min\" },\n                        { title: \"Historical Max\" },\n                        { title: \"Historical Mean\" },\n                        { title: \"Mean\" }\n                    ]\n                } );\n            } );           \n              \n        }\n        wsDBData.onopen = function() {\n            getData(1,2013);\n        }\n        wsDBData.onclose = function() {\n               \n        }   \n    }\n    \n    function getData(month,year) {\n    \n        if (wsDBData) {\n        \n            // convert to json string\n         \n            var obj = { \"month\":month, \"year\":year};\n\n            var json = JSON.stringify(obj);\n            \n            wsDBData.send(json); \n        }\n    }    \n    \n    $(function(){\n        $('#gMonth').change(function(){\n            var month = $(this).val();\n            var year = $('#gYear').val();\n            getData(month,year);\n        });\n     });  \n     \n    $(function(){\n        $('#gYear').change(function(){\n            var year = $(this).val();\n            month = $('#gMonth').val();\n            getData(month,year);\n        });\n    });     \n\n</script>","x":344.8332061767578,"y":459.20009994506836,"wires":[["b2d39038.51fde"]]},{"id":"b2d39038.51fde","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.hero {\n  background:url(../../assets/img/city_bg.jpg) no-repeat center;\n  background-size:cover;\n  border:none;\n}\n\n@media (min-width:992px) {\n  .hero .get-it {\n    text-align:right;\n    margin-top:80px;\n    padding-right:30px;\n  }\n}\n\n@media (max-width:992px) {\n  .hero .get-it {\n    text-align:center;\n  }\n}\n\n@media (max-width:992px) {\n  .hero .phone-preview {\n    text-align:center;\n  }\n}\n\n.hero .get-it h1, .hero .get-it p {\n  color:white;\n  text-shadow:2px 2px 3px rgba(0,0,0,0.3);\n  margin-bottom:40px;\n}\n\n.hero .get-it .btn {\n  margin-left:10px;\n  margin-bottom:10px;\n  text-shadow:none;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  height:580px;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n\n","x":526.9998207092285,"y":460.0000400543213,"wires":[["7e90dd11.3ee094"]]},{"id":"7e90dd11.3ee094","type":"template","z":"745a997d.260cb8","name":"HTML DATA","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css\">\n\n    <style>{{{payload.style}}}</style>\n    \n    <title>Data analysis for Montreal area</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>\n        </ul>\n        \n        \n        <table>\n            <tr>\n               <td>\n                <div id=\"head1\" style=\"width:15%;margin-top:12px;margin-left: 30px\"> <!--float:left;margin-left:150px;-->\n                    <select id=\"gMonth\" class=\"selectpicker\"> \n                        <!--<option selected value='1'>Select Month</option>-->\n                        <option selected value='1'>Janaury</option>\n                        <option value='2'>February</option>\n                        <option value='3'>March</option>\n                        <option value='4'>April</option>\n                        <option value='5'>May</option>\n                        <option value='6'>June</option>\n                        <option value='7'>July</option>\n                        <option value='8'>August</option>\n                        <option value='9'>September</option>\n                        <option value='10'>October</option>\n                        <option value='11'>November</option>\n                        <option value='12'>December</option>\n                    </select> \n                </div>\n            </td>\n            <td>\n            <div id=\"head2\" style=\"width:15%;margin-top:12px;margin-left: 20px\"> <!--float:left;margin-left:150px;-->\n                <select id=\"gYear\" class=\"selectpicker\">\n                    <!--<option selected value='2013'>Select Year</option>-->\n                    <option selected value='2013'>2013</option>\n                    <option value='2014'>2014</option>\n                    <option value='2015'>2015</option>\n                    <option value='2016'>2016</option>\n                    <option value='2017'>2017</option>\n                </select> \n            </div>                \n            </td>\n            <td>\n                <div id=\"aaa\" style=\"float:right;margin-left:150px\"><h2><b>5-Year Statictical Data</b></h2></div>\n            </td>\n        </tr>            \n        </table>\n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow:auto; width:100%;height=100%;>\n                \n                <center>\n\n                    <table border=0 id=\"example\" class=\"display\" width=\"100%\" height=\"100%\"></table>\n    \n                </center>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n        \n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n        {{{payload.script}}}    \n        \n    </body>\n    \n</html>\n","x":723.9997711181641,"y":460,"wires":[["5d99a4e2.db9ebc"]]},{"id":"5d99a4e2.db9ebc","type":"http response","z":"745a997d.260cb8","name":"","x":903.9997711181641,"y":460,"wires":[]},{"id":"c8913689.a901d8","type":"mysql","z":"745a997d.260cb8","mydb":"71811e6f.81321","name":"","x":670.9995422363281,"y":543,"wires":[["e2d1f9a2.11c7f8"]]},{"id":"defee0d3.79c9b","type":"function","z":"745a997d.260cb8","name":"SELECT SQL","func":"msg.topic =\"select wday, MAX(max_temp) as avg_max, MIN(min_temp) as avg_min, AVG(mean_temp) as avg_mean from wdata where wmonth = \"+msg.payload.month+\" group by wday;select wday, mean_temp from wdata where wmonth = \"+msg.payload.month+\" and wyear = \"+msg.payload.year+\";\";\nreturn msg;","outputs":1,"noerr":0,"x":490.9995422363281,"y":543,"wires":[["c8913689.a901d8"]]},{"id":"bb38533d.274c8","type":"comment","z":"745a997d.260cb8","name":"loading data from the DB","info":"","x":538.9995422363281,"y":507,"wires":[]},{"id":"5120b8ee.7a9d98","type":"websocket in","z":"745a997d.260cb8","name":"","server":"9c0fcad.05a8938","client":"","x":128.99954223632812,"y":543,"wires":[["e1de2417.c3d728"]]},{"id":"e2d1f9a2.11c7f8","type":"websocket out","z":"745a997d.260cb8","name":"","server":"9c0fcad.05a8938","client":"","x":860.9995422363281,"y":543,"wires":[]},{"id":"ccc3137c.fd366","type":"comment","z":"745a997d.260cb8","name":"Getting socket notification from the web page","info":"","x":219.99954223632812,"y":506,"wires":[]},{"id":"e1de2417.c3d728","type":"json","z":"745a997d.260cb8","name":"","pretty":false,"x":300.9995422363281,"y":543,"wires":[["defee0d3.79c9b"]]},{"id":"ecabe04.1b2e12","type":"http in","z":"745a997d.260cb8","name":"","url":"/mhwgrpdata","method":"get","upload":false,"swaggerDoc":"","x":140.99954223632812,"y":640,"wires":[["11bc8248.a7798e"]]},{"id":"f40b1e6f.ff37f","type":"comment","z":"745a997d.260cb8","name":"Min, Max and Mean graph for 5 year period","info":"","x":210.99954223632812,"y":603,"wires":[]},{"id":"11bc8248.a7798e","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"<script type=\"text/javascript\" src=\"https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js\"></script> \n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js\" type=\"text/javascript\"></script>\n\n<script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n<script type=\"text/javascript\">\n\n    google.charts.load('current', {'packages':['corechart']});\n    google.charts.setOnLoadCallback(drawChart);\n    \n    var dataAr;\n    var arOptions;\n    var areaChart;\n    \n    function drawChart() {\n    \n        dataAr = google.visualization.arrayToDataTable([\n          ['Days', 'Historical Max', 'Historical Min', 'Historical Mean', 'Mean'],\n          ['0', 0, 0, 0, 0]\n        ]);\n  \n        arOptions = {\n            title: 'Montreal, QC: Weather Performance',\n            hAxis: {title: 'Days',  titleTextStyle: {color: '#333'}},\n            vAxis: {title: 'Temperature',  titleTextStyle: {color: '#777'}},\n            backgroundColor: '#f8f8f8'\n        };\n        \n        areaChart = new google.visualization.AreaChart(document.getElementById('chart_div'));\n        \n        areaChart.draw(dataAr, arOptions);\n    }\n      \n    function updateAreaChart(d, t1, t2, t3, t4) {\n\n        dataAr.addRow([d, t1, t2, t3, t4]);\n        areaChart.draw(dataAr, arOptions);\n    } \n    \n    function clearChart() {\n    \n        \n        dataAr.removeRows(0, dataAr.getNumberOfRows());\n        areaChart.draw(dataAr, arOptions);\n        \n        areaChart.clearChart();\n    }\n</script>\n \n<script type=\"text/javascript\">\n\n    var wsDBData;\n    \n    var wsDBDataUri = \"ws:\";  \n    \n    var loc = window.location;\n    \n    if (loc.protocol === \"https:\") { \n        wsDBDataUri = \"wss:\";\n    }\n\n    wsDBDataUri += \"//\" + loc.host + loc.pathname.replace(\"mhwgrpdata\",\"ws/dbpdata\");\n    \n    function wsDisconnect() {\n    \n        wsDBData.close();\n    }\n    \n    function wsConnect() {\n        wsDBDataConnect();\n    }\n\n    function wsDBDataConnect() {\n        \n        wsDBData = new WebSocket(wsDBDataUri);\n        \n        wsDBData.onmessage = function(msg) {\n            \n            var json = msg.data;\n    \n            var array = JSON.parse(json);\n            \n            var arr2 = [];\n            \n            if(array.length != 2) {\n                alert(\"Wrong arrays size, check sql query!\");\n                return;\n            }\n\n            var innArrAvgs = array[0];\n            var innArrCurr = array[1];\n            \n            var sel_month_size = Math.max(innArrAvgs.length, innArrCurr.length);\n            \n            if(sel_month_size > 31) {\n                alert(\"Wrong array size (month), check sql query!\");\n                return;\n            }\n            \n            clearChart();\n\n            for (i = 0; i < sel_month_size; i++) {\n            \n                var t1,t2,t2,t4,t5;\n                \n                if(innArrAvgs.length-1 >= i)\n                    t1 = innArrAvgs[i].avg_max; \n                else\n                    t1 = 0;\n                    \n                if(innArrAvgs.length-1 >= i)    \n                    t2 = innArrAvgs[i].avg_min; \n                else\n                    t2 = 0;  \n                    \n                if(innArrAvgs.length-1 >= i)\n                    t3 = innArrAvgs[i].avg_mean; \n                else\n                    t3 = 0;  \n                    \n                if(innArrCurr.length-1 >= i)\n                    t4 = innArrCurr[i].mean_temp \n                else\n                    t4 = 0;   \n                \n                updateAreaChart((i+1).toString(), t1, t2, t3, t4);\n            }\n        }\n        wsDBData.onopen = function() {\n            getData(1, 2013);\n        }\n        wsDBData.onclose = function() {\n               \n        }   \n    }\n    \n    function getData(month,year) {\n    \n        if (wsDBData) {\n        \n            // convert to json string\n         \n            var obj = { \"month\":month, \"year\":year};\n\n            var json = JSON.stringify(obj);\n            \n            wsDBData.send(json); \n        }\n    }    \n    \n    $(function(){\n        $('#gMonth').change(function(){\n            var month = $(this).val();\n            var year = $('#gYear').val();\n            getData(month,year);\n        });\n     });  \n     \n    $(function(){\n        $('#gYear').change(function(){\n            var year = $(this).val();\n            month = $('#gMonth').val();\n            getData(month,year);\n        });\n    });           \n\n</script>","x":346.8332061767578,"y":639.2000999450684,"wires":[["4d15bfd7.1d868"]]},{"id":"4d15bfd7.1d868","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  height:580px;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n\n","x":528.9998207092285,"y":640.0000400543213,"wires":[["f41691e7.2ed8"]]},{"id":"f41691e7.2ed8","type":"template","z":"745a997d.260cb8","name":"HTML CHART","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css\">\n\n    <style>{{{payload.style}}}</style>\n    \n    <title>Data analysis for Montreal area</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>\n        </ul>\n        \n        <table>\n            <tr>\n               <td>\n                <div id=\"head1\" style=\"width:15%;margin-top:12px;margin-left: 30px\"> <!--float:left;margin-left:150px;-->\n                    <select id=\"gMonth\" class=\"selectpicker\"> \n                        <!--<option selected value='1'>Select Month</option>-->\n                        <option selected value='1'>Janaury</option>\n                        <option value='2'>February</option>\n                        <option value='3'>March</option>\n                        <option value='4'>April</option>\n                        <option value='5'>May</option>\n                        <option value='6'>June</option>\n                        <option value='7'>July</option>\n                        <option value='8'>August</option>\n                        <option value='9'>September</option>\n                        <option value='10'>October</option>\n                        <option value='11'>November</option>\n                        <option value='12'>December</option>\n                    </select> \n                </div>\n            </td>\n            <td>\n            <div id=\"head2\" style=\"width:15%;margin-top:12px;margin-left: 20px\"> <!--float:left;margin-left:150px;-->\n                <select id=\"gYear\" class=\"selectpicker\">\n                    <!--<option selected value='2013'>Select Year</option>-->\n                    <option selected value='2013'>2013</option>\n                    <option value='2014'>2014</option>\n                    <option value='2015'>2015</option>\n                    <option value='2016'>2016</option>\n                    <option value='2017'>2017</option>\n                </select> \n            </div>                \n            </td>\n            <td>\n                <div id=\"aaa\" style=\"float:right;margin-left:150px\"><h2><b>Data Visualization: 5-Year Statisctical Data</b></h2></div>\n            </td>\n        </tr>            \n        </table>\n        \n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow:auto; width:100%;height=100%;>\n                \n                <center>\n                    <div id=\"chart_div\" style=\"width: 100%; height: 500px;\"></div>\n                </center>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n        \n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n        {{{payload.script}}}    \n        \n    </body>\n    \n</html>\n","x":735.9997711181641,"y":640,"wires":[["40f1554b.5943fc"]]},{"id":"40f1554b.5943fc","type":"http response","z":"745a997d.260cb8","name":"","x":905.9997711181641,"y":640,"wires":[]},{"id":"c6f6e10b.8adfe","type":"http in","z":"745a997d.260cb8","name":"","url":"/thermctrl","method":"get","upload":false,"swaggerDoc":"","x":120.99954223632812,"y":740,"wires":[["71bc102.9db7df"]]},{"id":"71bc102.9db7df","type":"template","z":"745a997d.260cb8","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"   <script src=\"https://code.jquery.com/jquery-1.12.4.js\"></script>\n   <script src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.js\"></script>\n   \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js\"></script> \n  \n   <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n   \n   <script type=\"text/javascript\">\n   \n        var bYellow = false;\n        var bGreen = false;\n        var bRed = false;\n        var bFan = false;\n   \n        // Gauges\n        var data1 = null;\n        var data2 = null;\n        var data3 = null;\n        \n        var option1 = null;\n        var option2 = null;\n        var option3 = null;\n        \n        var chart1 = null; \n        var chart2 = null; \n        var chart3 = null; \n        \n        google.charts.load('current', {'packages':['gauge', 'map', 'bar', 'corechart', 'line']});\n        google.charts.setOnLoadCallback(drawChart);\n        \n        function drawChart() {\n            \n            data1 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Temperature', 0]\n            ]);\n            \n            data2 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Humidity', 0]\n            ]);\n            \n            data3 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Pressure', 0]\n            ]);\n            \n            data4 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Dew Point', 0]\n            ]);            \n            \n            option1 = {\n              width: 600, height: 220,\n              redFrom: 25, redTo: 55,\n              yellowFrom:21, yellowTo: 25,\n              minorTicks: 5,\n              min: 0, max: 55\n            };\n            \n            option2 = {\n              width: 600, height: 220,\n              redFrom: 24, redTo: 100,\n              yellowFrom:16, yellowTo: 24,\n              minorTicks: 5,\n              min: 0, max: 100\n            };\n            \n            option3 = {\n              width: 600, height: 220,\n              redFrom: 900, redTo: 1200,\n              yellowFrom:750, yellowTo: 900,\n              minorTicks: 5,\n              min: 0, max: 1200\n            };\n            \n            option4 = {\n              width: 600, height: 220,\n              redFrom: 26, redTo: 100,\n              yellowFrom:16, yellowTo: 26,\n              minorTicks: 5,\n              min: -20, max: 100\n            };            \n            \n            chart1 = new google.visualization.Gauge(document.getElementById('gauge1_div'));\n            chart2 = new google.visualization.Gauge(document.getElementById('gauge2_div'));\n            chart3 = new google.visualization.Gauge(document.getElementById('gauge3_div'));\n            chart4 = new google.visualization.Gauge(document.getElementById('gauge4_div'));\n            \n            chart1.draw(data1, option1);\n            chart2.draw(data2, option2);\n            chart3.draw(data3, option3);\n            chart4.draw(data4, option4);\n            \n            updateGaugeT(8);\n            updateGaugeH(45);\n            updateGaugeP(900);\n            updateGaugeDP(calculate_dp(8,45));\n            showImage(\"grey\");\n        }\n      \n       function updateGaugeT(temp) {\n          \n            data1.setValue(0, 1, temp);// + \"C\");\n            chart1.draw(data1, option1);\n        }\n      \n        function updateGaugeH(humid) {\n          \n            data2.setValue(0, 1, humid);// + \"%\");\n            chart2.draw(data2, option2);\n        }      \n      \n        function updateGaugeP(pres) {\n          \n            data3.setValue(0, 1, pres);// + \"kPa\");\n            chart3.draw(data3, option3);\n        }          \n\n        function updateGaugeDP(dewp) {\n          \n            data4.setValue(0, 1, dewp);\n            chart4.draw(data4, option4);  \n        }  \n        \n        // *** dew point ***\n        // https://en.wikipedia.org/wiki/Dew_point\n        function calculate_dp(t, h) {\n          \n            var b = 17.67;\n            var c = 243.5;\n            \n            var Y = Math.log(h / 100) + ((b * t)/(c + t));\n            \n            var dp = ((c * Y)/(b - Y));\n            \n            return dp;\n        }          \n        \n        \n        ////////////////////////////////////////////////////////////////\n    \n        var wsDeviceData;\n        \n        var wsDeviceDataUri = \"ws:\";\n        \n        var loc = window.location;\n      \n        if (loc.protocol === \"https:\") { \n        \n            wsDeviceDataUri = \"wss:\"; \n        }\n        \n        wsDeviceDataUri += \"//\" + loc.host + loc.pathname.replace(\"thermctrl\",\"ws/control\");\n\n        function wsDisconnect() {\n        \n            wsDeviceData.close();\n        }\n\n        function wsConnect() {\n            \n            wsDeviceDataConnect();\n        }\n        \n        //var IsModalDlgDispayed = false;\n        \n        function wsDeviceDataConnect() {\n            \n            wsDeviceData = new WebSocket(wsDeviceDataUri);\n            \n            wsDeviceData.onmessage = function(msg) {\n                var json = msg.data;\n            }\n            wsDeviceData.onopen = function() {\n                turnOffAll();\n            }\n            wsDeviceData.onclose = function() {\n                //wsDeviceData.close();\n                //setTimeout(function() {\n                //    wsDeviceDataConnect();\n                //}, 1000);\n            }   \n        }\n        \n        function turnOnYellow() {\n        \n            if(wsDeviceData && !bYellow) {\n                var json_on = JSON.stringify({\"yel\":\"on\"});\n                wsDeviceData.send(json_on);\n                bYellow = true;\n            }\n        }\n        \n        function turnOffYellow() {\n        \n            if(wsDeviceData && bYellow) {\n                var json_off = JSON.stringify({\"yel\":\"off\"});\n                wsDeviceData.send(json_off);\n                bYellow = false;\n            }\n        }         \n        \n        function turnOnGreen() {\n        \n            if(wsDeviceData && !bGreen) {\n                var json_on = JSON.stringify({\"grn\":\"on\"});\n                wsDeviceData.send(json_on);\n                bGreen = true;\n            }\n        }\n        \n        function turnOffGreen() {\n        \n            if(wsDeviceData && bGreen) {\n                var json_off = JSON.stringify({\"grn\":\"off\"});\n                wsDeviceData.send(json_off);\n                bGreen = false;\n            }\n        }      \n        \n        function turnOnRed() {\n        \n            if(wsDeviceData && !bRed) {\n                var json_on = JSON.stringify({\"red\":\"on\"});\n                wsDeviceData.send(json_on);\n                bRed = true;\n            }\n        }\n        \n        function turnOffRed() {\n        \n            if(wsDeviceData && bRed) {\n                var json_off = JSON.stringify({\"red\":\"off\"});\n                wsDeviceData.send(json_off);\n                bRed = false;\n            }\n        }               \n        \n        function turnOnFan() {\n        \n            if(wsDeviceData && !bFan) {\n                var json_on = JSON.stringify({\"fan\":\"on\"});\n                wsDeviceData.send(json_on);\n                bFan = true;\n            }\n        }\n        \n        function turnOffFan() {\n            if(wsDeviceData && bFan) {\n                var json_off = JSON.stringify({\"fan\":\"off\"});\n                wsDeviceData.send(json_off);\n                bFan = false;\n            }\n        } \n        \n        function turnOffAll() {\n            var json_off = JSON.stringify({\"red\":\"off\"});\n            wsDeviceData.send(json_off);   \n            var json_off = JSON.stringify({\"grn\":\"off\"});\n            wsDeviceData.send(json_off);\n            var json_off = JSON.stringify({\"yel\":\"off\"});\n            wsDeviceData.send(json_off);            \n        }\n        \n        // var bBlink = false;\n        //function blinkLED() {\n        \n            //if(wsDeviceData) {\n                \n                //var json_on = JSON.stringify({\"fan\":\"on\"});\n                //var json_off = JSON.stringify({\"fan\":\"off\"});\n                //while(bBlink) {\n                   \n                //    wsDeviceData.send(json_on);\n                    //await sleep(1000);\n                    //sleep(1000);\n                //    wsDeviceData.send(json_off);                    \n                //}\n            //}\n        //} \n        \n        \n        function showImage(color) {\n        \n            if(color == \"red\") {\n                $('#img_ec_state').attr('src','images/fe/knob red.png');\n            } else if(color == \"orange\") {\n                $('#img_ec_state').attr('src','images/fe/knob_orange.png');\n            } else if(color == \"green\") {\n                $('#img_ec_state').attr('src','images/fe/knob_green.png');\n            } else if(color == \"grey\") {\n                $('#img_ec_state').attr('src','images/fe/knob_grey.png');\n            } else if(color == \"blue\") {\n                $('#img_ec_state').attr('src','images/fe/knob_blue.png');\n            } else {\n                alert(\"showGreenImage: unknown image number.\");\n            }\n        }        \n        \n        // https://jqueryui.com/slider/#rangemin\n        \n        $( function() {\n            $( \"#slider-range-min1\" ).slider(\n                {\n                    range: \"min\",\n                    value: 8,\n                    min: 0,\n                    max: 55,\n                    slide: function( event, ui ) {\n                        \n                        updateGaugeT(ui.value);\n                    \n                        if(ui.value >= 25) {\n                            turnOnRed();\n                            showImage(\"red\");\n                            \n                            turnOffGreen();\n                            turnOffYellow();                                \n                        } else if(ui.value >= 10 && ui.value <= 20) {\n                            turnOnGreen();\n                            showImage(\"green\");\n                            \n                            turnOffRed();\n                            turnOffYellow();\n                        } else if(ui.value > 20 && ui.value < 25) {\n                            turnOnYellow();\n                            showImage(\"orange\");\n                            \n                            turnOffRed();\n                            turnOffGreen();\n                        } else if(ui.value < 10) {\n                            showImage(\"grey\");\n                            turnOffRed();\n                            turnOffGreen();\n                            turnOffYellow();\n                        }                        \n                    \n                        var dp = calculate_dp(ui.value,$( \"#slider-range-min2\" ).slider( \"value\" ));\n                        \n                        if( $('#gSeasons').val() == \"heating\") { \n                        \n                       \n                            if(dp > 15.5556) { // 60F == 15.5556 C between 50F == 10 C  is comfortable\n                                \n                                $( \"#alert_msg\" ).html( \"HEATING IN PROGRESS\" );\n                                \n                                turnOnFan();\n                                \n                            } else {\n                                $( \"#alert_msg\" ).html( \"\" );\n\n                                turnOffFan();\n                            }\n\n                        } else if($('#gSeasons').val() == \"cooling\") {\n                        \n                            if(dp < 10) { \n                                \n                                $( \"#alert_msg\" ).html( \"COOLING IN PROGRESS\" );\n                                \n                                turnOnFan();\n                                \n                            } else {\n                                $( \"#alert_msg\" ).html( \"\" );\n                                \n                                turnOffFan();\n                            }\n                        }\n                        \n                        updateGaugeDP(dp);\n                }\n            });\n            \n        } );  \n        \n        $( function() {\n            $( \"#slider-range-min2\" ).slider(\n                {\n                    range: \"min\",\n                    value: 45,\n                    min: 0,\n                    max: 100,\n                    slide: function( event, ui ) {\n\n                        updateGaugeH(ui.value);\n                        \n                        var dp = calculate_dp(ui.value,$( \"#slider-range-min1\" ).slider( \"value\" ));\n                        \n                        if( $('#gSeasons').val() == \"heating\") {\n                        \n                       \n                            if(dp > 15.5556) { // 60F == 15.5556 C between 50F == 10 C  is comfortable\n                                \n                                $( \"#alert_msg\" ).html( \"HEATING IN PROGRESS\" );\n                                \n                                turnOnFan();\n                                \n                            } else {\n                                $( \"#alert_msg\" ).html( \"\" );\n\n                                turnOffFan();\n                            }\n                        } else if($('#gSeasons').val() == \"cooling\") {\n                        \n                            if(dp < 10) { \n                                \n                                $( \"#alert_msg\" ).html( \"COOLING IN PROGRESS\" );\n                                \n                                turnOnFan();\n                                \n                            } else {\n                                $( \"#alert_msg\" ).html( \"\" );\n                                \n                                turnOffFan();\n                            }\n                        }\n                        \n                        updateGaugeDP(dp);\n                }\n            });\n            \n            //$( \"#amount\" ).val( \"$\" + $( \"#slider-range-min2\" ).slider( \"value\" ) );\n        } ); \n        \n        $( function() {\n            $( \"#slider-range-min3\" ).slider(\n                {\n                    range: \"min\",\n                    value: 900,\n                    min: 1,\n                    max: 1200,\n                    slide: function( event, ui ) {\n                        updateGaugeP(ui.value);\n                }\n            });\n        } );         \n        \n    </script>\n    ","x":353.9997100830078,"y":740.0000677108765,"wires":[["8205db8b.37cc28"]]},{"id":"8205db8b.37cc28","type":"template","z":"745a997d.260cb8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n    background-color: #f8f8f8;\n}\n\n.navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#428bca;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  margin:20px 0;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #428bca;\n    width: 100%;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n    text-decoration: white;\n    color:yellow;\n    display:block;   \n}\n\n\n","x":536.1663246154785,"y":740.8000078201294,"wires":[["8df435e0.899b18"]]},{"id":"8df435e0.899b18","type":"template","z":"745a997d.260cb8","name":"HTML THERMOSTAT","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    \n    <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css\">\n\n    <style>{{{payload.style}}}</style>\n    \n    <title>Thermostat control</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><img id=\"img_fe_logo\" src=\"images/fe/fe-logo2.jpg\" height=\"30\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:14px;margin-right:10px;\"></li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>    \n          <li><a href=\"/mhwdata\">Historical Data</a></li>\n          <li><a href=\"/mhwgrdata\">Historical Data Visualization</a></li>\n          <li><a href=\"/mhwpdata\">Statistical Data Analysis</a></li>\n          <li><a href=\"/mhwgrpdata\">Statistical Data Visualization</a></li>\n          <li><a href=\"/thermctrl\">Interactive Thermostat</a></li>\n        </ul>\n                \n        <section class=\"testimonials\">\n          \n          \n        <div id=\"div_Seasons\" style=\"margin-left:30px;\"> \n            <select id=\"gSeasons\" class=\"selectpicker\" data-width=\"150px\">\n                    <option selected value='not_selected'>Time of Year</option>\n                    <option value='heating'>Heating season</option>\n                    <option value='cooling'>Cooling season</option>\n            </select> \n            <label id=\"ec_state\" style=\"color: blue;float:right;margin-top:7px;margin-right:30px;\">Ambient Workplace Status</label>\n            <img id=\"img_ec_state\" height=\"30\" width=\"30\" style=\"float:right;margin-top:0px;margin-right:10px;\">\n        \n            <label id=\"alert_msg\" style=\"color:red; font-weight: bold; float:right;margin-top:9px;margin-right:10em;\"></label>\n        </div>     \n                      \n            <blockquote>\n                \n                <div overflow:auto; width:100%;>\n \n                <center>\n                <table border=1 style=\"width:100%;\">\n                    \n                    <tr align=\"center\">\n                        <td height=\"35\" colspan=\"1\"></td>\n                        <td colspan=\"1\"></td>\n                        <td colspan=\"1\"></td>\n                        <td colspan=\"1\"></td>\n                    </tr>\n    \n        \n                    <!--<div id=\"div_border\" style=\"width:200px;height:100px;padding:20px;border:1px solid darkorange;border-radius: 8px;\"> -->\n                    \n                    <tr align=\"center\"> \n                        <td colspan=\"4\" >\n                            <div style=\"height: 70px;\">\n                                <label for=\"slider-range-min1\" style=\"color: red\">Temperature</label>\n                                <div id=\"slider-range-min1\"  style=\"width: 30%; height: 12px;\"></div>\n                            </div>\n                        </td>\n                    </tr>\n                    <tr align=\"center\">\n                        <td colspan=\"4\">\n                            <div style=\"height: 70px;\">\n                                <label for=\"slider-range-min2\" style=\"color: blue\">Humidity</label>\n                                <div id=\"slider-range-min2\"  style=\"width: 30%; height: 12px;\"></div>\n                            </div>\n                        </td>\n                    </tr>\n                    <tr align=\"center\">\n                        <td colspan=\"4\">\n                            <div style=\"height: 70px;\"> \n                                <label for=\"slider-range-min3\" style=\"color: green\">Pressure</label>\n                                <div id=\"slider-range-min3\"  style=\"width: 30%; height: 12px;\"></div>\n                            </div>\n                        </td>\n                    </tr> \n                    \n                    <!--</div>-->\n                    \n                    <tr align=\"center\">\n                        <td colspan=\"4\">\n                            <div style=\"height: 50px;\">\n                            </div>\n                        </td>                         \n                    </tr>                    \n       \n                    <tr align=\"center\">\n                        \n                        <td >\n                            <div id=\"gauge1_div\" style=\"width: 250px; height: 250px;\"></div>\n                        </td>\n                       \n                        <td >\n                            <div id=\"gauge2_div\" style=\"width: 250px; height: 250px;\"></div>\n                        </td>\n                        \n                        <td >\n                            <div id=\"gauge3_div\" style=\"width: 250px; height: 250px;\"></div>\n                        </td>\n                        \n                        <td >\n                            <div id=\"gauge4_div\" style=\"width: 250px; height: 250px;\"></div>\n                        </td>                        \n                    </tr>\n                </table>\n                </center>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:100%\">\n            <div class=\"container\" style=\"width:100%\">\n                <div class=\"row\" style=\"width:100%\" >\n                    <div class=\"col-md-1\">\n                        <img id=\"img_fe_logo\" src=\"images/fe/stmicroelectronics2.jpg\" height=\"60\" width=\"100\" style=\"float:left;margin-left:30px;margin-top:25px;margin-right:100px;\">\n                    </div>                    \n                    <div class=\"col-md-7\" style=\"margin-left:100px;margin-top:5px;\">\n                        <h3>Optimize Ambient Conditions and Employee Productivity</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-3\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>   \n   \n    </body>\n    \n</html>\n","x":724.9995422363281,"y":741,"wires":[["996ed0df.67935"]]},{"id":"996ed0df.67935","type":"http response","z":"745a997d.260cb8","name":"","x":903.9997711181641,"y":741,"wires":[]},{"id":"fdf5abe1.5e1e68","type":"comment","z":"745a997d.260cb8","name":"Data range slider for thermostat","info":"","x":180.99954223632812,"y":703,"wires":[]},{"id":"5fa89416.7ae3bc","type":"ibmiot out","z":"745a997d.260cb8","authentication":"apiKey","apiKey":"c4a749.2ab878b8","outputType":"cmd","deviceId":"2171400567-id","deviceType":"stm-nucleo","eventCommandType":"Control","format":"string","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":890.9995422363281,"y":900,"wires":[]},{"id":"e1730701.29cb68","type":"websocket in","z":"745a997d.260cb8","name":"","server":"247fd005.ac545","client":"","x":563.0995788574219,"y":840,"wires":[["5fa89416.7ae3bc"]]},{"id":"34169c1c.037964","type":"inject","z":"745a997d.260cb8","name":"Fan ON","topic":"iot-2/cmd/+/fmt/string","payload":"{\"fan\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":553.0995788574219,"y":920,"wires":[["5fa89416.7ae3bc"]]},{"id":"5ccd6ff7.4cd96","type":"inject","z":"745a997d.260cb8","name":"Fan OFF","topic":"iot-2/cmd/+/fmt/string","payload":"{\"fan\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":563.0995788574219,"y":960,"wires":[["5fa89416.7ae3bc"]]},{"id":"ce9c8bd5.f81be8","type":"inject","z":"745a997d.260cb8","name":"Red On","topic":"iot-2/cmd/+/fmt/string","payload":"{\"red\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":553.0995788574219,"y":1000,"wires":[["5fa89416.7ae3bc"]]},{"id":"f61e7f00.a2156","type":"inject","z":"745a997d.260cb8","name":"Red Off","topic":"iot-2/cmd/+/fmt/string","payload":"{\"red\":\"off\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":553.0995788574219,"y":1040,"wires":[["5fa89416.7ae3bc"]]},{"id":"fdcca66b.ba78c8","type":"inject","z":"745a997d.260cb8","name":"Yellow On","topic":"iot-2/cmd/+/fmt/string","payload":"{\"yel\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":563.0995788574219,"y":1080,"wires":[["5fa89416.7ae3bc"]]},{"id":"d7d5aa59.6d21a8","type":"inject","z":"745a997d.260cb8","name":"Yellow Off","topic":"iot-2/cmd/+/fmt/string","payload":"{\"yel\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":563.0995788574219,"y":1120,"wires":[["5fa89416.7ae3bc"]]},{"id":"f09be61.8e11718","type":"inject","z":"745a997d.260cb8","name":"Green On","topic":"iot-2/cmd/+/fmt/string","payload":"{\"grn\":\"on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":561.9995422363281,"y":1160,"wires":[["5fa89416.7ae3bc"]]},{"id":"18061a43.a74176","type":"inject","z":"745a997d.260cb8","name":"Green Off","topic":"iot-2/cmd/+/fmt/string","payload":"{\"grn\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":561.9995422363281,"y":1200,"wires":[["5fa89416.7ae3bc"]]},{"id":"71811e6f.81321","type":"MySQLdatabase","z":"","host":"209.5.122.185","port":"3306","db":"mhwdata","tz":""},{"id":"7139902.6d95e7","type":"websocket-listener","z":"","path":"/ws/dbdata","wholemsg":"false"},{"id":"52a01a6b.b27ad4","type":"websocket-listener","z":"","path":"/ws/maindata","wholemsg":"false"},{"id":"c4a749.2ab878b8","type":"ibmiot","z":"","name":"STM-Nucleo","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"df14d397.e4ac1","type":"websocket-listener","z":"","path":"/ws/agrdata","wholemsg":"false"},{"id":"9c0fcad.05a8938","type":"websocket-listener","z":"","path":"/ws/dbpdata","wholemsg":"false"},{"id":"247fd005.ac545","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"}]