memshield-demo/dev-kits-st-nucleo-dashboard-0.1.json
[{"id":"41458a31.5b96c4","type":"http response","z":"6861af6a.44f89","name":"","x":930,"y":140,"wires":[]},{"id":"72d7c39f.65815c","type":"http in","z":"6861af6a.44f89","name":"","url":"/sensors","method":"get","swaggerDoc":"","x":146.99977111816406,"y":140,"wires":[["e99322f4.809ce"]]},{"id":"e99322f4.809ce","type":"template","z":"6861af6a.44f89","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"   <script type=\"text/javascript\">\n        var srcMap = \"https://maps.googleapis.com/maps/api/js?key=\" + process.env.GOOGLE_API_KEY + \"&callback=initMap\"\n   </script>\n   \n   <script async defer src=srcMap type=\"text/javascript\"></script>\n  \n   <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n   \n   <script type=\"text/javascript\">\n   \n        // gauge\n   \n        var data1 = null;\n        var data2 = null;\n        var data3 = null;\n        \n        var option1 = null;\n        var option2 = null;\n        var option3 = null;\n        \n        var chart1 = null; \n        var chart2 = null; \n        var chart3 = null; \n        \n        google.charts.load('current', {'packages':['gauge', 'map', 'bar', 'corechart', 'line']});\n        google.charts.setOnLoadCallback(drawChart);\n        \n        function drawChart() {\n            \n            data1 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Temperature', 0]\n            ]);\n            \n            data2 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Humidity', 0]\n            ]);\n            \n            data3 = google.visualization.arrayToDataTable([\n              ['Label', 'Value'],\n              ['Pressure', 0]\n            ]);\n            \n            option1 = {\n              width: 600, height: 220,\n              redFrom: 70, redTo: 100,\n              yellowFrom:26, yellowTo: 70,\n              minorTicks: 5,\n              min: 0, max: 100\n            };\n            \n            option2 = {\n              width: 600, height: 220,\n              redFrom: 90, redTo: 100,\n              yellowFrom:70, yellowTo: 90,\n              minorTicks: 5,\n              min: 0, max: 100\n            };\n            \n            option3 = {\n              width: 600, height: 220,\n              redFrom: 900, redTo: 1200,\n              yellowFrom:750, yellowTo: 900,\n              minorTicks: 5,\n              min: 0, max: 1200\n            };\n            \n            chart1 = new google.visualization.Gauge(document.getElementById('chart1_div'));\n            chart2 = new google.visualization.Gauge(document.getElementById('chart2_div'));\n            chart3 = new google.visualization.Gauge(document.getElementById('chart3_div'));\n            \n            chart1.draw(data1, option1);\n            chart2.draw(data2, option2);\n            chart3.draw(data3, option3);\n      }\n      \n      function updateChart(temp, humid, pres) {\n          \n          data1.setValue(0, 1, temp);// + \"C\");\n          chart1.draw(data1, option1);\n          \n          data2.setValue(0, 1, humid);// + \"%\");\n          chart2.draw(data2, option2);\n          \n          data3.setValue(0, 1, pres);// + \"kPa\");\n          chart3.draw(data3, option3);\n      }\n    </script>\n    \n   <script type=\"text/javascript\">\n   \n        // agregate info\n      \n        function updateAgrGgChart(objSens) {\n        \n            if(objSens.min_temp !== undefined)\n                document.getElementById('mint').innerHTML = objSens.min_temp;\n            if(objSens.max_temp !== undefined)\n                document.getElementById('maxt').innerHTML = objSens.max_temp;\n            if(objSens.min_humidity !== undefined)\n                document.getElementById('minh').innerHTML = objSens.min_humidity;\n            if(objSens.max_humidity !== undefined)\n                document.getElementById('maxh').innerHTML = objSens.max_humidity;\n            if(objSens.min_pressure !== undefined)\n                document.getElementById('minp').innerHTML = objSens.min_pressure;\n            if(objSens.max_pressure !== undefined)\n                document.getElementById('maxp').innerHTML = objSens.max_pressure;\n        }\n    </script>   \n    \n    <script type=\"text/javascript\">\n    \n        var dataLnT;\n        var dataLnH;\n        var dataLnP;\n        \n        var opsLnT;\n        var opsLnH;\n        var opsLnP;\n        \n        var chartLnT;\n        var chartLnH;\n        var chartLnP;\n        \n        google.charts.setOnLoadCallback(drawBasic);\n        \n        function drawBasic() {\n            \n            dataLnT = new google.visualization.DataTable();\n            dataLnT.addColumn('datetime', 'X');\n            dataLnT.addColumn('number', 'Temperature');\n            \n            dataLnH = new google.visualization.DataTable();\n            dataLnH.addColumn('datetime', 'X');\n            dataLnH.addColumn('number', 'Humidity');\n            \n            dataLnP = new google.visualization.DataTable();\n            dataLnP.addColumn('datetime', 'X');\n            dataLnP.addColumn('number', 'Pressure');\n            \n            opsLnT = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Temperature'\n                },\n                curveType: 'function',\n                colors:['red','#004411'],\n                lineWidth : 3\n            };\n            \n            opsLnH = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Humidity'\n                },\n                curveType: 'function',\n                colors:['orange','#004411'],\n                lineWidth : 3\n            };\n            \n            opsLnP = {\n                hAxis: {\n                  title: 'Time',\n                  format: 'HH:mm:ss'\n                },\n                vAxis: {\n                  title: 'Pressure'\n                },\n                curveType: 'function',\n                lineWidth : 3\n            };\n            \n            chartLnT = new google.visualization.LineChart(document.getElementById('chartLnT_div'));\n            chartLnH = new google.visualization.LineChart(document.getElementById('chartLnH_div'));\n            chartLnP = new google.visualization.LineChart(document.getElementById('chartLnP_div'));\n            \n            chartLnT.draw(dataLnT, opsLnT);\n            chartLnH.draw(dataLnH, opsLnH);\n            chartLnP.draw(dataLnP, opsLnP);\n        }\n        \n        function updateLnChart(temp, humid, pres) {\n\n            dataLnT.addRow([new Date(), temp]);\n            chartLnT.draw(dataLnT, opsLnT);\n            \n            dataLnH.addRow([new Date(), humid]);\n            chartLnH.draw(dataLnH, opsLnH);\n            \n            dataLnP.addRow([new Date(), pres]);\n            chartLnP.draw(dataLnP, opsLnP);\n        }\n        \n    </script> \n    \n    <script type=\"text/javascript\">\n    \n        var wsDeviceData;\n        var wsAgrData;\n        \n        var wsDeviceDataUri = \"ws:\";\n        var wsAgrDataUri = \"ws:\";        \n        \n        var loc = window.location;\n      \n        if (loc.protocol === \"https:\") { \n        \n            wsDeviceDataUri = \"wss:\"; \n            wsAgrDataUri = \"wss:\"; \n        }\n        \n        wsDeviceDataUri += \"//\" + loc.host + loc.pathname.replace(\"sensors\",\"ws/maindata\");\n        wsAgrDataUri += \"//\" + loc.host + loc.pathname.replace(\"sensors\",\"ws/agrdata\");\n\n        function wsDisconnect() {\n        \n            wsDeviceData.close();\n            wsAgrData.close();\n        }\n\n        function wsConnect() {\n            \n            wsDeviceDataConnect();\n            wsAgrDataConnect();\n        }\n        \n        var IsModalDlgDispayed = false;\n        \n        function wsDeviceDataConnect() {\n            \n            //console.log(\"connect\",wsDeviceDataUri);\n            wsDeviceData = new WebSocket(wsDeviceDataUri);\n            \n            wsDeviceData.onmessage = function(msg) {\n                \n                var json = msg.data;\n                var obj = JSON.parse(json);\n\n                // ST Nucleo\n                updateChart(obj.d.A_Temperature, obj.d.A_Humidity, obj.d.A_Pressure);\n                \n                updateLnChart(obj.d.A_Temperature, obj.d.A_Humidity, obj.d.A_Pressure);\n                \n                var threshold = 25.8;\n                if( parseFloat(obj.d.A_Temperature.toFixed(1)) >= parseFloat(threshold.toFixed(1)) && IsModalDlgDispayed === false) {\n                    $(\"#modalDlg\").modal(\"show\");\n                    IsModalDlgDispayed = true;\n                }\n\n            }\n            wsDeviceData.onopen = function() {\n            }\n            wsDeviceData.onclose = function() {\n                wsDeviceData.close();\n                setTimeout(function() {\n                    wsDeviceDataConnect();\n                }, 1000);\n            }   \n        }\n        \n        function wsAgrDataConnect() {\n            \n            wsAgrData = new WebSocket(wsAgrDataUri);\n            \n            wsAgrData.onmessage = function(msg) {\n                \n                var json = msg.data;\n                var obj = JSON.parse(json);\n                \n                updateAgrGgChart(obj);\n            }\n            wsAgrData.onopen = function() {\n            }\n            wsAgrData.onclose = function() {\n                wsAgrData.close();\n                setTimeout(function() {\n                    wsAgrDataConnect();\n                }, 1000);            \n            }   \n        }\n        \n    </script>\n    ","x":379.99993896484375,"y":140.00006771087646,"wires":[["7931be29.675cd"]]},{"id":"2c3d48a8.bea458","type":"debug","z":"6861af6a.44f89","name":"","active":false,"console":"false","complete":"payload","x":374.9995651245117,"y":307.66670751571655,"wires":[]},{"id":"96495aeb.3deb78","type":"websocket out","z":"6861af6a.44f89","name":"","server":"da221761.2ae9c8","client":"","x":390.16650009155273,"y":242.11103630065918,"wires":[]},{"id":"7931be29.675cd","type":"template","z":"6861af6a.44f89","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":".navbar {\n  margin-bottom:0;\n  border:none;\n}\n\n.navbar-brand .glyphicon {\n  margin-right:6px;\n}\n\n.hero {\n  background:url(../../assets/img/city_bg.jpg) no-repeat center;\n  background-size:cover;\n  border:none;\n}\n\n@media (min-width:992px) {\n  .hero .get-it {\n    text-align:right;\n    margin-top:80px;\n    padding-right:30px;\n  }\n}\n\n@media (max-width:992px) {\n  .hero .get-it {\n    text-align:center;\n  }\n}\n\n@media (max-width:992px) {\n  .hero .phone-preview {\n    text-align:center;\n  }\n}\n\n.hero .get-it h1, .hero .get-it p {\n  color:white;\n  text-shadow:2px 2px 3px rgba(0,0,0,0.3);\n  margin-bottom:40px;\n}\n\n.hero .get-it .btn {\n  margin-left:10px;\n  margin-bottom:10px;\n  text-shadow:none;\n}\n\n.icon-feature {\n  text-align:center;\n}\n\n.icon-feature .glyphicon {\n  font-size:60px;\n}\n\nsection.features {\n  background-color:#369;\n  padding:10px 0;\n  color:white;\n}\n\n.features h2 {\n  color:white;\n}\n\n.features h3 {\n  color:white;\n}\n\n.features .icon-features {\n  margin-top:15px;\n}\n\n.testimonials blockquote {\n  text-align:center;\n}\n\nsection.testimonials {\n  margin:50px 0;\n}\n\n.site-footer {\n  padding:20px 0;\n  text-align:center;\n}\n\n@media (min-width:768px) {\n  .site-footer h5 {\n    text-align:left;\n  }\n}\n\n.site-footer h5 {\n  color:inherit;\n  font-size:20px;\n}\n\n.site-footer .social-icons a:hover {\n  opacity:1;\n}\n\n.site-footer .social-icons a {\n  display:inline-block;\n  width:32px;\n  border:none;\n  font-size:20px;\n  border-radius:50%;\n  margin:4px;\n  color:#fff;\n  text-align:center;\n  background-color:#798FA5;\n  height:32px;\n  opacity:0.8;\n  line-height:32px;\n}\n\n@media (min-width:768px) {\n  .site-footer .social-icons {\n    text-align:right;\n  }\n}\n\nul {\n    list-style-type: none;\n    margin: 0;\n    padding: 0;\n    overflow: hidden;\n    background-color: #369;\n    width: 1900px;\n}\n\nli {\n    float: left;\n}\n\nli a {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: serif;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli b {\n    display: block;\n    color: white;\n    text-align: center;\n    padding: 16px;\n    text-decoration: none;\n    font-family: arial;\n    font-size: 20px;\n    font-style: normal;\n}\n\nli a:hover {\n   text-decoration: white;\n}\n\n\n","x":562.1665534973145,"y":140.8000078201294,"wires":[["b220fe6a.e432a"]]},{"id":"b220fe6a.e432a","type":"template","z":"6861af6a.44f89","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        \n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/lumen/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n    \n    <title>Sensors Live Display</title>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"wsDisconnect();\">\n       \n        <ul>\n          <li><b>STM32 Nucleo</b></li>\n          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>\n          <li><a href=\"/sensors\">Ambient Conditions</a></li>\n        </ul>\n\n        <section class=\"testimonials\">\n    \n            <blockquote>\n                \n                <div overflow: auto;width: 100%;>\n                \n                <CENTER>\n                <table border=1>\n                    \n                    <TR ALIGN=\"CENTER\">\n                        <TD HEIGHT=\"47\" colspan=\"2\"></TD><TD colspan=\"2\"></TD><TD colspan=\"2\"></TD>\n                    </TR>\n       \n                    <tr>\n                        <td width=\"20%\">\n                            <div id=\"chart1_div\" style=\"width: 250px; height: 250px;float:right; margin-left: 100px\"></div>\n                        </td> \n                        <td>\n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"mint\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxt\">0</label><br>\n                            </div>\n                        </td>\n                       \n                        <td width=\"20%\">\n                                <div id=\"chart2_div\" style=\"width: 250px; height: 250px;float:right;\"></div>\n                            </td>\n                        <td>\n                            \n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"minh\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxh\">0</label><br>\n                            </div>                          \n                                                 \n                        </td>                        \n                        <td width=\"20%\">\n                            <div id=\"chart3_div\" style=\"width: 250px; height: 250px;float:right;\"></div>\n                        </td>\n                        <td>\n                            <div style=\"width: 100px;\">\n                                <label>Min.</label>\n                                <label id=\"minp\">0</label><br>\n                                <br>\n                                <label>Max.</label>\n                                <label id=\"maxp\">0</label><br>\n                            </div>                                   \n                               \n                        </td>    \n                        </tr> \n                        <tr> \n                            <td colspan=\"2\">\n                                <div id=\"chartLnT_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>\n                            <td colspan=\"2\">\n                                 <div id=\"chartLnH_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>\n                            <td colspan=\"2\">\n                                <div id=\"chartLnP_div\" style=\"width: 100%; height: 350px;\"></div>\n                            </td>                         \n                        </tr>\n                    \n                   \n\n                </table>\n                </CENTER>\n                \n                </div>      \n \n            </blockquote>\n        </section>\n        <section class=\"features\" style=\"width:1900px\">\n            <div class=\"container\">\n                <div class=\"row\" >\n                    <div class=\"col-md-6\">\n                        <h3>Environmental sensor evaluation board system</h3>\n                        <p>Motion MEMS and environmental sensor expansion board for STM32 Nucleo</p>\n                    </div>\n                    <div class=\"col-md-6\">\n                        <div class=\"row icon-features\">\n                            <div class=\"col-xs-4 icon-feature\">\n                                <i class=\"glyphicon glyphicon-cloud\"></i>\n                                <p>Cloud-ready</p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </section>\n        <footer class=\"site-footer\">\n            <div class=\"container\">\n                <div class=\"row\">\n                    <div class=\"col-sm-6\">\n                        <h5>Future Electronics© 2017</h5></div>\n                    <div class=\"col-sm-6 social-icons\"><a href=\"#\"><i class=\"fa fa-facebook\"></i></a><a href=\"#\"><i class=\"fa fa-twitter\"></i></a><a href=\"#\"><i class=\"fa fa-instagram\"></i></a></div>\n                </div>\n            </div>\n        </footer>\n\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>   \n    \n    <div class=\"modal fade\" id=\"modalDlg\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n        <div class=\"modal-dialog\">\n            <div class=\"modal-content\">\n                <div class=\"modal-header\" style=\"width:100%;height:15%;background:red;color:white;border-top-left-radius: 5px;border-top-right-radius: 5px;\">\n                    <h3 style=\"color:white;font-family: serif;\">The temperature is above the set threshold</h3>\n                </div>\n    \n                <div class=\"modal-body\">\n                    <form method=\"post\" action=\"#\">\n                    </form>\n                </div>\n    \n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-success success\" data-dismiss=\"modal\" style=\"width: 30%;\" width='200px'>Close</button>\n                    <!--<input type='submit'  class=\"btn btn-success success\" style=\"width: 30%;\" id='btnValidate' width='200px' name=\"submit\" Value='Send' /> -->\n                </div>\n            </div>    \n        </div>\n    </div>        \n        \n    </body>\n    \n</html>\n","x":739.16650390625,"y":140.7999677658081,"wires":[["41458a31.5b96c4"]]},{"id":"f0722bb8.c565a8","type":"aggregator","z":"6861af6a.44f89","name":"Min Temp","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":575.1664733886719,"y":398.2001705169678,"wires":[["9c63aa55.660088"]]},{"id":"80164daf.58adf","type":"aggregator","z":"6861af6a.44f89","name":"Max Temp","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":582.1664733886719,"y":449.20036792755127,"wires":[["f3729067.f0cab"]]},{"id":"7604862b.71d6a8","type":"aggregator","z":"6861af6a.44f89","name":"Min Humidity","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":579.166446685791,"y":492.200252532959,"wires":[["ee286de5.0dea5"]]},{"id":"b3be0ab7.6e8618","type":"change","z":"6861af6a.44f89","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":383.16638946533203,"y":418.4001054763794,"wires":[["f0722bb8.c565a8","80164daf.58adf"]]},{"id":"584b2eca.d6fdd","type":"change","z":"6861af6a.44f89","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":368.16638946533203,"y":511.40017890930176,"wires":[["7604862b.71d6a8","e7734b3e.51b648"]]},{"id":"9f0153f1.68024","type":"change","z":"6861af6a.44f89","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.A_Pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.16638946533203,"y":611.4001903533936,"wires":[["b6c66ac8.758518","7b7e4314.8f4b5c"]]},{"id":"e7734b3e.51b648","type":"aggregator","z":"6861af6a.44f89","name":"Max Humidity","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":588.1664733886719,"y":538.6667833328247,"wires":[["43855a10.f5d614"]]},{"id":"b6c66ac8.758518","type":"aggregator","z":"6861af6a.44f89","name":"Min Pressure","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"min","x":578.1664352416992,"y":585.6667890548706,"wires":[["659326a.ada62d8"]]},{"id":"7b7e4314.8f4b5c","type":"aggregator","z":"6861af6a.44f89","name":"Max Pressure","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"max","x":586.1664123535156,"y":638.6668739318848,"wires":[["4c3e8d1b.d56134"]]},{"id":"9c63aa55.660088","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"min_temp\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":833.1666946411133,"y":397.5333843231201,"wires":[["e713066a.743348"]]},{"id":"ee286de5.0dea5","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"min_humidity\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":837.16650390625,"y":493.53324604034424,"wires":[["e713066a.743348"]]},{"id":"43855a10.f5d614","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"max_humidity\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":839.1665115356445,"y":540.5332517623901,"wires":[["e713066a.743348"]]},{"id":"659326a.ada62d8","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"min_pressure\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":840.1665115356445,"y":586.5332584381104,"wires":[["e713066a.743348"]]},{"id":"4c3e8d1b.d56134","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"max_pressure\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":842.1665115356445,"y":638.5332622528076,"wires":[["e713066a.743348"]]},{"id":"f3729067.f0cab","type":"function","z":"6861af6a.44f89","name":"convert to json","func":"msg.payload = {\"max_temp\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":839.16650390625,"y":447.5333881378174,"wires":[["e713066a.743348"]]},{"id":"6193b4a.2600d4c","type":"ibmiot in","z":"6861af6a.44f89","authentication":"apiKey","apiKey":"22855c32.8d1824","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":112.0000228881836,"y":341.53321170806885,"wires":[["2c3d48a8.bea458","b3be0ab7.6e8618","584b2eca.d6fdd","9f0153f1.68024","96495aeb.3deb78"]]},{"id":"e713066a.743348","type":"websocket out","z":"6861af6a.44f89","name":"","server":"804f511a.cc4ba","client":"","x":1139.0000343322754,"y":512.5331993103027,"wires":[]},{"id":"da221761.2ae9c8","type":"websocket-listener","z":"","path":"/ws/maindata","wholemsg":"false"},{"id":"22855c32.8d1824","type":"ibmiot","z":"","name":"St-Nuclear","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"804f511a.cc4ba","type":"websocket-listener","z":"","path":"/ws/agrdata","wholemsg":"false"}]